
#bodyWrapper {
    margin: 0px;
    padding: 0px;
    background-color: grey;
    overflow: hidden;
}

.container-down {

}

/*SECTION WRAPPERS*/
#top-nav {
    background-color: #1A237E;
    height: 9%;
    width: 100%;
    min-height: 86px;
    max-height: 86px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#top-nav > div {
    display: flex;
    justify-content: center;    
    align-items: center;   
    flex: 1; 
}

#top-nav h1 {
    font-family: Avenir;
    font-size: 23px;
    color: white;
    font-weight: 300;
}

#top-nav div:nth-child(1) h1{ 
}

#user-top-info h1{
    font-size: 18px;    
    font-weight: 100;
    letter-spacing: 2px;
}

#top-nav img {
    width: 56px;
    height: 56px;
    margin-left: 20px;
    border-radius: 50%;
    object-fit: cover; 
}

#left-nav {
    background-color: #1A237E;
    float: left;
    width: 120px;
    height: 91%;
}

#main-content {
    position: absolute;
    left: 120px;
    height: 91%;
    width: 1560px;
    background-color: white;
    background-image: url('../img/background-app.png');
    background-repeat: no-repeat;
    background-size: cover;
}

/*LEFT NAV*/

#button-left {
    width: 100%;
    height: 120px;
    cursor: pointer; cursor: hand;
}

#img-button {
    height: 120px;
    width: 120px;
}

.button-text {
    font-size: 18px;
    font-family: Avenir;
    text-align: center;
    margin: 0px;
    padding-top: 10px;
    font-weight: 100;
    color: #306E50;
}

/*GRID CANDIDATES*/
#grid-candidates {
    height: 830px;
    width: 1520px;
    top: 20px;
    left: 20px;
    position: relative;
}

#candidate-wrapper {
    width: 1200px;
    height: 830px;
    margin-left: auto;
    margin-right: auto;
}

#card {
    background-repeat: no-repeat;
    width: 255px;
    height: 361px;
    display: inline-block;
    margin-left: 100px;
    margin-top: 35px;
    cursor: pointer; 
    cursor: hand;
}

#card:hover {
    box-shadow: 5px 5px 3px #BFBCBC;
    background-position: 0px -361px;
}

#card-picture-candidate {
    display: block;
    width: 173px;
    height: 173px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    border: 4px solid white;
    border-radius: 50%;
 }

 .card-name {
     font-family: Avenir;
     font-weight: 400;
     font-size: 25px;
     text-align: center;
     color: white;    
 }

 #card-logo {
    display: block;
    width: 65px;
    height: 65px;
    margin-left: auto;
    margin-right: auto;
 }
 
 /*PAGE DETAILS*/
 
 #left-side {
     float: left;
     width: 65%;
     height: 100%;
 }
 
 .title-page-details {
     font-family: Avenir;
     font-size: 35px;
     font-weight: 300;
     padding-left: 10px;
     text-decoration: underline;
 }
 
 .carousel {
     margin-left: auto;
     margin-right: auto;
     width: 400px;
 }
 
 .carousel .item-carousel {
     width: 400px;
     border-radius: 10px;
     position: absolute;
     height: 224px;
     opacity: 0;
     animation-name: css-animation-fade;
     animation-iteration-count: infinite;
     animation-duration: 16s;
 }
 
 .carousel .item-carousel:nth-child(2) {
     animation-delay: 4s;
 }
 
 .carousel .item-carousel:nth-child(3) {
     animation-delay: 8s;
 }
 
 .carousel .item-carousel:nth-child(4) {
     animation-delay: 12s;
 }
 

 @keyframes css-animation-fade {
      from {opacity: 0;} 
      5% {opacity: 1;} 
      15% {opacity: 1;} 
      20% {opacity: 0;}
      to {opacity: 0;}
 }
 
 .prop-text {
     text-align: center;
     font-family: Avenir;
     font-weight: 500;
     color: white;
     font-size: 35px;
 }
 
 .team {
     position: absolute;
     top: 400px;
     left: 50px;
     width: 450px;
 }
 
 .wrap-cand {
     margin-top: 20px;
     padding-bottom: 60px;
 }
 
 .pic-detail {
     float: left;
     height: 120px;
     width: 120px;
 }
 
 .candidate-des {
     position: relative;
     top: 25px;
     left: 10px;
 }
 
 .team h1 {
     font-family: Avenir;
     font-weight: 100;
     font-size: 24px;
     margin: 0px;
 }
 
 /*RIGHT SIDE*/
 
 #right-side {
    float: left;
     width: 35%;  
     height: 100%;
 }
 
 .logo-page-details {
     display: block;
     margin-left: auto;
     margin-right: auto;
     margin-top: 25px;
     margin-bottom: 25px;
 }
 
 .tweeter {
     width: 300px;
     height: 600px;
     background-color: white;
     margin: auto;
 }
 
 .social-media {
     width: 50%;
     margin: 0 auto;
     margin-top: 15px;
 }
 
 .social-media a {
     padding-left: 25px;
 }
 
 /*ENCUESTA PAGE*/
 
 .poll-frame {
     padding: 50px 140px;
 }
 
 .row-polldata {
     display: flex;
     flex: 1;
     flex-direction: row;
     height: 110px;
     margin-bottom: 22px;
 }
 
 .poll-picture {
     width: 102px;
     height: 102px;
     margin: -51px;
     border: 4px solid white;
     border-radius: 50%;
 }
 
 .graph {
     display: flex;
     flex-direction: row;
     flex: 10;
     background-color: #D8D8D8;
 }
 
 .bar-graph-side {
     display: flex;
     flex: 1;
     flex-direction: row;
     align-items: center;
     justify-content: flex-start;
 }
 
 .bar-graph {
     height: 60px;
     width: 100px;
     background-color: #1B1F4E;
     border: 3px solid white;
     margin-left: -3px;
     z-index: 0;
 }
 
 .candidate-info {
     flex:1;
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: flex-start;
     z-index: 1;
 }
 
 .candidate-info h1 {
     margin: 0px;
     font-family: Avenir;
     font-weight: 500;
     font-size: 35px;
     font-style: italic;
     padding-left: 75px;
     color: white;
 }
 
 .bar-number h1{
     margin: 0px;
     font-family: Avenir;
     font-size: 15px;
     font-weight: 100;
     color: #1B1F4E;
     font-style: italic;
     padding-left: 10px;
 }
 
 .bar-number h1:nth-child(1){ 
     font-size: 20px;
 }
 
 
 .vote-button-side {
     flex:3;
     display: flex;
     align-items: center;
     justify-content: center;
     cursor: pointer; cursor: hand;     
 }
 
 .election-button {
    border-radius: 5px;
    width: 134px;
    height: 44px;
    box-shadow: 3px 3px 3px #BFBCBC;       
 }
 
 /*PROFILE PAGE*/
 
 #content-profile {
     width: 100%;
     height: 100%;
     display: flex;
 }
 
.image-side-prof {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 100px;
}

.image-side-prof button {
    margin-top: 8px;
}


.cropArea {
    background: #E4E4E4;
    overflow: hidden;
    width:500px;
    height:350px;
}

.wrapper-image-profile {
    border-radius: 50%;  
    background-size: cover;
    width: 247px;
    height: 247px;
}

.data-side-prof {
    flex: 2;
        
}

.title-user-data {
    font-size: 25px;
    font-family: Avenir;
    padding-left: 80px;
    font-weight: 300;
    margin-top: 40px;
}

.form-user-data {
    padding-top: 75px;
    padding-left: 80px;
    padding-right: 130px;
    display: flex;
    flex-direction: column;
}


.form-user-data input, .form-user-data textarea {
    height: 45px;
    margin-top: 25px;
    box-shadow: 3px 3px 3px grey;
    font-size: 19px;
    font-style: italic;
    font-family: Avenir;
    padding-left: 20px;
    border: none;
}

.form-user-data textarea {
    height: 65px;
    padding-top: 10px; 
}

.form-col-2 {
    display: flex;
    justify-content: space-between;
}

.form-col-2 input {
    flex: 1;
}

.form-col-2 input:nth-child(1) {
    margin-right: 45px;
}

.form-col-2 input:nth-child(2) {
    margin-left: 45px;
}

.input-name {
    
}

.save-button {
    margin-left: 80px;
    background-color: #1a237e;
    height: 50px;
    box-shadow: 3px 3px 3px grey;
    color: white;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer; cursor: hand;
}

.save-button:active {
    background-color: #6fefb0    
}

.save-button h1 {
    font-family: Avenir;
    font-size: 29;
    font-weight: 600;
    margin: 0;
    font-style: italic;
}